In [22]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from lightgbm import LGBMClassifier

In [3]:
df = pd.read_csv('Employee.csv')
data = df
DF=pd.DataFrame(data)
DF

,Age,Attrition,BusinessTravel,DailyRate,DistanceFromHome,Gender,JobSatisfaction,MonthlyRate,RelationshipSatisfaction,TotalWorkingYears,WorkLifeBalance
0,41,Yes,Travel_Rarely,1102,1,Female,4,19479,1,8,1
1,49,No,Travel_Frequently,279,8,Male,2,24907,4,10,3
2,37,Yes,Travel_Rarely,1373,2,Male,3,2396,2,7,3
3,33,No,Travel_Frequently,1392,3,Female,3,23159,3,8,3
4,27,No,Travel_Rarely,591,2,Male,2,16632,4,6,3
...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,23,Male,4,12290,3,17,3
1466,39,No,Travel_Rarely,613,6,Male,1,21457,1,9,3
1467,27,No,Travel_Rarely,155,4,Male,2,5174,2,6,3
1468,49,No,Travel_Frequently,1023,2,Male,2,13243,4,17,2
1469,34,No,Travel_Rarely,628,8,Male,3,10228,1,6,4

In [4]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   DistanceFromHome          1470 non-null   int64
 5   Gender                    1470 non-null   object
 6   JobSatisfaction           1470 non-null   int64
 7   MonthlyRate               1470 non-null   int64
 8   RelationshipSatisfaction  1470 non-null   int64
 9   TotalWorkingYears         1470 non-null   int64
 10  WorkLifeBalance           1470 non-null   int64
dtypes: int64(8), object(3)
memory usage: 126.5+ KB

In [5]:
DF.describe()

,Age,DailyRate,DistanceFromHome,JobSatisfaction,MonthlyRate,RelationshipSatisfaction,TotalWorkingYears,WorkLifeBalance
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.728571,14313.103401,2.712245,11.279592,2.761224
std,9.135373,403.509100,8.106864,1.102846,7117.786044,1.081209,7.780782,0.706476
min,18.000000,102.000000,1.000000,1.000000,2094.000000,1.000000,0.000000,1.000000
25%,30.000000,465.000000,2.000000,2.000000,8047.000000,2.000000,6.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,14235.500000,3.000000,10.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,20461.500000,4.000000,15.000000,3.000000
max,60.000000,1499.000000,29.000000,4.000000,26999.000000,4.000000,40.000000,4.000000

In [6]:
x = df[['Age','BusinessTravel','DailyRate','DistanceFromHome','Gender','JobSatisfaction','MonthlyRate','RelationshipSatisfaction','TotalWorkingYears','WorkLifeBalance']]
y = df['Attrition']

In [7]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.3)

In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

# Assuming 'df' is your DataFrame containing the dataset

# Encode categorical variables
label_encoder = LabelEncoder()
df['BusinessTravel'] = label_encoder.fit_transform(df['BusinessTravel'])
df['Gender'] = label_encoder.fit_transform(df['Gender'])

# Split the dataset into features (X) and target variable (y)
X = df.drop(columns=['Attrition'])
y = df['Attrition']

# Split data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and fit the LightGBM model
model = LGBMClassifier()
model.fit(x_train, y_train)

[LightGBM] [Info] Number of positive: 198, number of negative: 978
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000408 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 640
[LightGBM] [Info] Number of data points in the train set: 1176, number of used features: 10
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.168367 -> initscore=-1.597243
[LightGBM] [Info] Start training from score -1.597243

LGBMClassifier()

In [10]:
model.score(x_train,y_train)

1.0

In [11]:
model.score(x_test,y_test)

0.8775510204081632

In [19]:
#Other processing copy dataframe deep / Shallow
DF1=DF.copy()
DF1

,Age,Attrition,BusinessTravel,DailyRate,DistanceFromHome,Gender,JobSatisfaction,MonthlyRate,RelationshipSatisfaction,TotalWorkingYears,WorkLifeBalance
0,41,Yes,Travel_Rarely,1102,1,Female,4,19479,1,8,1
1,49,No,Travel_Frequently,279,8,Male,2,24907,4,10,3
2,37,Yes,Travel_Rarely,1373,2,Male,3,2396,2,7,3
3,33,No,Travel_Frequently,1392,3,Female,3,23159,3,8,3
4,27,No,Travel_Rarely,591,2,Male,2,16632,4,6,3
...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,23,Male,4,12290,3,17,3
1466,39,No,Travel_Rarely,613,6,Male,1,21457,1,9,3
1467,27,No,Travel_Rarely,155,4,Male,2,5174,2,6,3
1468,49,No,Travel_Frequently,1023,2,Male,2,13243,4,17,2
1469,34,No,Travel_Rarely,628,8,Male,3,10228,1,6,4

In [23]:
# Assuming 'features' is the array containing the features for a single data point
features = np.array([41,'Travel_Rarely',1373,2,'Male',3,2396,2,7,3])

# Define label encoders for categorical columns
label_encoders = {
    1: LabelEncoder(),  # Column index of the categorical column
    4: LabelEncoder()   # Column index of the categorical column
}

# Apply label encoding to categorical columns
for col_index, encoder in label_encoders.items():
    features[col_index] = encoder.fit_transform([features[col_index]])[0]

# Convert all elements to numeric
features = features.astype(float)

# Make prediction
prediction = model.predict(features.reshape(1, -1))
print("Prediction: {}".format(prediction))

Prediction: ['Yes']